body {
    background-color: #EEF9BF;
}

.titulo {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    width: 100px;
    height: 100px;
}

.front {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 56px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #75B79E;
    ;
}

.teste {
    width: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.teste span {
    margin-top: 47px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.teste span div {
    margin-left: 34px;
}

.selecionado img:nth-child(odd) {
    display: none;
}

.selecionado img:nth-child(even) {
    display: flex;
}

.jogo {
    width: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.jogo span {
    margin-top: 47px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.jogo span div {
    margin-left: 34px;
}

.line {
    display: block;
    width: auto;
    height: 1px;
}

.card {
    width: 116px;
    height: 145px;
    border: solid;
    border-color: #99CEA8;
    border-width: 1px;
    border-radius: 5px;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.cardinvisivel {
    width: 116px;
    height: 145px;
    background-color: #EEF9BF;
}

.card:hover {
    cursor: pointer;
}